body{
    background: linear-gradient(#65789b, #3e4a61, #1a2639);
    font-family: 'Source Code Pro', monospace;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 30px auto;
}

.tituloprincipal{
    font-size: 30px;
    font-weight: bolder;
    color: black;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    color: lightgreen;
}

.bloco{
    width: 940px;
    position: relative;
    margin: 50px auto;
}
.foto{
    float: right;
    top: 0;
    width: 25%;
    border-left: 10px solid lightgreen;
    border-radius: 10px;
    margin: 0 0 0 30px;
    transition: 400ms;
}

.foto:hover{
    opacity: 0.4;
}

h2{
    color: lightgreen;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
}

.objetivos h2{
    margin-top: 3em;
}

.bloco p{
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}


.copyright{ /*pagina de simbolo unicode*/
    color: white;
    font-size: 15px;
    padding: 30px 0;
}

footer{
    text-align: center;
    background: black;
}